header {
    color: white;
    padding: 2em;
}
footer {
    background-color: black;
    padding: 2em;
}
table{
    text-align: center;
    margin: auto; /*How to center content from https://www.javatpoint.com/how-to-center-a-table-in-css#:~:text=By%20default%2C%20the%20alignment%20of,browsers%20show%20the%20table%20centered.*/
}
tr{
    background-color: white;
}
body{
    background-color:black;
}
section{
    background-color: white;
}
h1 {
    color: white;
}