header {
    background-color: white;
    color: black;
    padding: 2em;
}
footer {
    background-color: black;
    padding: 2em;
}
table{
    text-align: center;
}
tr{
    background-color: white;
}
body{
    background-color:white;
}
section{
    background-color: rgba(211, 211, 211, 0.256);
}