header {
    color: white;
    padding: 2em;
    box-shadow: 0px 0px 7px  black;/*Box shadow from https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow*/
    background-color: black;
    position: sticky;/*Position: sticky from https://developer.mozilla.org/en-US/docs/Web/CSS/position*/
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, black 90%, yellow 10%);
}
footer {
    background-color: black;
    padding: 2em;
}
table{
    text-align: center;
    margin: auto; /*How to center content from https://www.javatpoint.com/how-to-center-a-table-in-css#:~:text=By%20default%2C%20the%20alignment%20of,browsers%20show%20the%20table%20centered.*/
}
tr{
    background-color: white;
}
body{
    background-color:white;
}
section{
    text-align: center;
    background-color: white;
    border-radius: 1em;
    color: black;
}
h2{
    text-align: center;
}